/* PARTIALS */
/*HEADER*/  
header {
    grid-area:auto;
}
h1 {
    color: black;  
    text-align: center;
    text-decoration: underline;
    
}      
h2 {
    color: darkblue;
    text-align: center;
    text-decoration-line: underline;        
    font-style:italic;
    line-height: 4.0;
    font-size: 30px;        
}    
h3 {
    color: rgb(15, 15, 15);
    text-align: center;
    line-height: 1.6;
} 
h4 {
    margin: 10px;
    padding: 10px;
    color: blue;
    font-style: italic;
    font-size: 25px;   
}
h5 {
    color:rgb(49, 49, 49) ;
    text-align: center;
    text-decoration: underline; 
    font-style: italic;
    font-size: 30px;
    line-height: 1.0;
}          
h6 {
    color:rgb(128, 5, 128);
    font-style:unset;
    font-size: 20px;
    text-decoration: underline;
    transform:translate(2px, 200px);
}
p {
    color: black;
    text-align: center;
    line-height: 1.0;
    font-style: italic;
    transform: scale(1.1,1.1);
}    
article {
    text-align:center;
}
section {
    display: block;
    flex-direction:column;
    justify-content: center;
}
div {
    color:rgb(12, 12, 12);
    text-align: center;
    transform: scale(2,2);
}
   
       

    

   

  

