/*ANIMATIONS*/
.animated {
    margin: 0 auto;
    background-color: aliceblue;
    width: 5px;
    height: 5px;
    animation-name: slide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation: slide 5s infinite cubic-bezier(0.19,);
    transition:all 3s linear;
}
.animated:hover {
    width: 10px;
    height: 10px;
    transition: all;
}      